<div class="container register">
  <div class="row">
      <!-- <div class="col-md-3 register-left">
          <img src="../../assets/logo_white.png" alt=""/>
          <h3>Welcome</h3> 
      </div> -->
      <div class="col-md-12 register-right">
        <form [formGroup]="persionalDataForm" (ngSubmit)="onSubmit(persionalDataForm.value)">
          <h3 class="register-heading">Persional Data</h3>
          <div class="row register-form">
              <div class="col-md-4">
                  <div class="form-group">
                      <input type="text" formControlName="ParmentAddress" class="form-control" (blur)="logValidationMessages()"
                        [class.is-invalid]="formErrors.ParmentAddress" placeholder="Parment Address *">
                      <div *ngIf="formErrors.ParmentAddress" class="invalid-feedback">{{formErrors.ParmentAddress}}</div>
                  </div>
                  <!-- <div class="form-group">
                      <input type="text" formControlName="LastName" class="form-control" (blur)="logValidationMessages()"
                        [class.is-invalid]="formErrors.LastName" placeholder="Last Name *">
                      <div *ngIf="formErrors.LastName" class="invalid-feedback">{{formErrors.LastName}}</div>
                  </div>
                  <div class="form-group">
                      <input type="file" ngf formControlName="File" class="form-control" placeholder="Upload File *" [class.is-invalid]="formErrors.File" />
                      <div *ngIf="formErrors.File" class="invalid-feedback">{{formErrors.File}}</div>
                  </div> -->
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <input type="text" formControlName="Mobile" class="form-control" (blur)="logValidationMessages()" 
                        [class.is-invalid]="formErrors.Mobile" placeholder="Mobile No. *">
                      <div *ngIf="formErrors.Mobile" class="invalid-feedback">{{formErrors.Mobile}}</div>
                  </div>
                  <!-- <div class="form-group">
                    <input type="text" formControlName="AddmissionDate" bsDatepicker [bsConfig]="datePickerConfig" (blur)="logValidationMessages()"
                      class="form-control" maxlength="8" placeholder="Enter Addmission Date" [class.is-invalid]="formErrors.AddmissionDate" >
                      <div *ngIf="formErrors.AddmissionDate" class="invalid-feedback">{{formErrors.AddmissionDate}}</div>
                  </div>  -->
                  
              </div>
              <div class="col-md-4">

              </div>
              <input type="submit" class="btnRegister" value="Next" />
          </div>
        </form>
        <pre>{{persionalDataForm.value |json}}</pre>
      </div>
  </div>

</div>
