
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

<div class="contact-section">

  <h1>High Risk Informed Consent</h1>
  <div class="border"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Guardian Name</label>
            <input type="text"
              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Relationship with patient</label>
            <input type="text"
              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Patient Name</label>
            <input type="text"
              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Illness/condition 1</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Illness/condition 2</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Illness/condition 3</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Illness/condition 4</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Illness/condition 5</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Signature of Guardian</label>
            <input type="file"
              class="contact-form-text" name="" id="" aria-describedby="helpId" placeholder="">
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Signature of Doctor</label>
            <input type="file"
              class="contact-form-text" name="" id="" aria-describedby="helpId" placeholder="">
           
          </div>
        </div>
      </div>
    </div>
</div>


  </body>
</html>
